<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand p-2 text-secondary" href="index.html">Bigfoot Sightings</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="dashboard.html">Tableau Dashboard</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="machineLearning.html">Machine Learning</a>
              </li>
          <li class="nav-item">
            <a class="nav-link" href="maps.html">Where is Bigfoot?</a>
          </li>
        </ul>
      </div>

</nav>