
CNN_Model2/valid/.DS_Store
CNN_Model1/.DS_Store
CNN_Model1/test/.DS_Store
CNN_Model1/train/.DS_Store
CNN_Model2/.DS_Store
CNN_Model2/test/.DS_Store
CNN_Model2/train/.DS_Store
CNN_Model2/valid/.DS_Store
