<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Machine Learning: Image Classification Using CNN</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="p-3 mb-2 bg-secondary text-white"></div>
    <h2 style="text-align:center"> Bigfoot vs. Man</h2>
    <p style="margin-left: 40px">Our goal for this machine learning project was to build a Convolutional Neural Network with the ability to classify images as either representing Bigfoot or man. While this project uses a relatively small data set (1170 pictures), it represents a first step in the building of a larger model that could help Cyrptozoologists and Bigfoot enthusiasts determine the credibility of their bigfoot sightings.</p>
    <h2 style="text-align:center"> The Data</h2>
        <img src="Resources/Other_images/ML_Site_Pictures/bigfootexample.png" width="400" height="300" syle = "margin: 2px 2px 2px 2px" alt="" ><img src="Resources/Other_images/ML_Site_Pictures/manexample.png" width="400" height="300" syle = "margin: 2px 2px 2px 2px" alt="">
    <ul>
        <li>1170 pictures (585 of Bigfoot, 585 of man)</li>
        <li>Pictures found using Google Image searches, Pinterest, and <a href = "http://www.bigfootreality.com/img/sasketch/bsp_main.php"></a> Bigfoot Reality </a> </li> 
        <li>Pictures were numbered sequentially as either bigfoot or man and saved as JPEG files (example: bigfoot1.jpg) </li>
    </ul>
    <h2 style="text-align:center"> Model 1 Overview</h2>
    <ol>
        <li> Create virtual environment with necessary dependencies. </li>
            <img src="Resources/Other_images/ML_Site_Pictures/dependenciesexample.png" width="1200" height="400" alt="">
        <li> Divide data into Train, Validate, and Test Groups and preprocess images.</li>
            <img src="Resources/Other_images/ML_Site_Pictures/preprocessingimages.png" width="1200" height="250" alt="">
        <li> Initial plot of a sample of images in the Train Group, showing how the computer begins to filter out layers of each picture.</li>
            <img src="Resources/Other_images/ML_Site_Pictures/plotimages.png" width="1200" height="800" alt="">
        <li> Build the model. </li>
            <img src="Resources/Other_images/ML_Site_Pictures/ModelBuilding.png" width="1200" height="600" alt="">
        <li> Run the model on the Train and Validate Groups of Data. </li>
            <img src="Resources/Other_images/ML_Site_Pictures/modelrun.png" width="1200" height="550" alt="">
        <li> Plot sample of images in the Test Group.</li>
            <img src="Resources/Other_images/ML_Site_Pictures/testgroup.png" width="1200" height="700" alt="">
        <li> Make Predictions Using the Test Group. </li>
            <img src="Resources/Other_images/ML_Site_Pictures/testpredictions.png" width="1200" height="600" alt="">
        <li> Visualize Predictions using a Confusion Matrix.  </li>
            <img src="Resources/Other_images/ML_Site_Pictures/confusionmatrix1.png" width="1200" height="700" alt="">
            <img src="Resources/Other_images/ML_Site_Pictures/confusionmatrix1_2.png" width="1200" height="700" alt="">
    </ol>
    <%- include('../partials/footer') %>
</body>
</html>