<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Machine Learning: Image Classification Using CNN</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h2 style="text-align:center"> Bigfoot vs. Man</h2>
    <p style="margin-left: 40px">Our goal for this machine learning project was to build a Convolutional Neural Network with the ability to classify images as either representing Bigfoot or man. While this project uses a relatively small data set (1170 pictures), it represents a first step in the building of a larger model that could help Cyrptozoologists and Bigfoot enthusiasts determine the credibility of their bigfoot sightings.</p>
    <h2 style="text-align:center"> The Data</h2>
    <div class="col-md-12 text-success">
        <h3>Picture Examples<img src="public/Resources/Other_images/ML_Site_Pictures/bigfootexample.png" width="50" height="50" alt=""><img src="public/Resources/Other_images/ML_Site_Pictures/manexample.png" width="50" height="50" alt=""></h3>
    </div>
    <ul>
        <li>1170 pictures (585 of Bigfoot, 585 of man)</li>
        <li>Pictures found using Google Image searches, Pinterest, and <a href = "http://www.bigfootreality.com/img/sasketch/bsp_main.php"> Bigfoot Reality </li> 
        <li>Pictures were numbered sequentially as either bigfoot or man and saved as JPEG files (example: bigfoot1.jpg) </li>
    </ul>
    <h2 style="text-align:center"> Model 1 Overview</h2>
    <ol>
        <li> Create virtual environment with necessary dependencies </li>
        <div class="col-md-12 text-success">
            <h3>Dependency Example<img src="public/Resources/Other_images/ML_Site_Pictures/dependenciesexample.png" width="50" height="50" alt=""></h3>
        </div>
        <li> Divide data into Train, Validate, and Test Groups and preprocess images</li>
        <div class="col-md-12 text-success">
            <h3>Preprocessing<img src="public/Resources/Other_images/ML_Site_Pictures/preprocessingimages.png" width="50" height="50" alt=""></h3>
        </div>
        <li> Initial plot of a sample of images, showing how the computer begins to filter out layers of each picture.</li>
        <div class="col-md-12 text-success">
            <h3>Plot of Images<img src="public/Resources/Other_images/ML_Site_Pictures/plotimages.png" width="50" height="50" alt=""></h3>
        </div>
        <li></li>
    </ol>

    <%- include('../partials/footer') %>
</body>
</html>