<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Machine Learning: Image Classification Using CNN</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="p-3 mb-2 bg-secondary text-white">
    <h1 style="text-align: center"> Bigfoot vs. Man Image Classification Using CNN</h1>
    <br>
    <h3> Our goal for this machine learning project was to build a Convolutional Neural Network with the ability to classify images as either representing Bigfoot or man. While this project uses a relatively small data set (1170 pictures), it represents a first step in the building of a larger model that could help Cryptozoologists and Bigfoot enthusiasts determine the credibility of their Bigfoot sightings.</h3>
    <h2 style="text-align: center"> The Data</h2>
        <br>
        <br>
        <img src="Resources/Other_images/ML_Site_Pictures/bigfootexample.png" width="500" height="400" style = "margin: 50px 50px 50px 650px" alt=""><img src="Resources/Other_images/ML_Site_Pictures/manexample.png" width="500" height="400" style = "margin: 50px 50px 50px 50px" alt="">
        <br>
        <br>
        <h3>The image data for this project consisted of 1170 pictures (585 of Bigfoot, 585 of man). Pictures were found using Google Image searches, Pinterest, and <a href = "http://www.bigfootreality.com/img/sasketch/bsp_main.php"></a> Bigfoot Reality. Pictures were numbered sequentially as either bigfoot or man and saved as JPEG files (example: bigfoot1.jpg).</h3> 
    <br>
    <br>
    <br>
    <h2 style="text-align:center"> Model 1 Overview</h2>
    <br>
    <h3> Create virtual environment with necessary dependencies.</h3>
            <br>
            <img src="Resources/Other_images/ML_Site_Pictures/dependenciesexample.png" width="1200" height="400" alt="" class= "center">
            <br>
            <br>
            <br>
    <h3> Divide data into Train, Validate, and Test Groups and preprocess images.</h3>
            <br>
            <img src="Resources/Other_images/ML_Site_Pictures/preprocessingimages.png" width="1200" height="250" alt="" class= "center">
            <br>
            <br>
            <br>
    <h3> Initial plot of a sample of images in the Train Group, showing how the computer begins to filter out layers of each picture.</h3>
            <br>
            <img src="Resources/Other_images/ML_Site_Pictures/plotimages.png" width="1200" height="800" alt="">
            <br>
            <br>
            <br>
    <h3> Build the model. </h3>
            <br>
            <img src="Resources/Other_images/ML_Site_Pictures/ModelBuilding.png" width="1200" height="600" alt="">
            <br>
            <br>
            <br>
    <h3> Run the model on the Train and Validate Groups of data. </h3>
            <br>
            <img src="Resources/Other_images/ML_Site_Pictures/modelrun.png" width="1200" height="550" alt="">
            <br>
            <br>
            <br>
    <h3> Plot sample of images in the Test Group.</h3>
            <br>
            <img src="Resources/Other_images/ML_Site_Pictures/testgroup.png" width="1200" height="700" alt="">
            <br>
            <br>
            <br>
    <h3> Make predictions using the Test Group data. </h3>
            <br>
            <img src="Resources/Other_images/ML_Site_Pictures/testpredictions.png" width="1200" height="600" alt="">
            <br>
            <br>
            <br>
    <h3> Visualization of predictions using a Confusion Matrix.</h3>
            <br>
            <img src="Resources/Other_images/ML_Site_Pictures/confusionmatrix1.png" width="1200" height="700" alt="">
            <br>
            <br>
            <img src="Resources/Other_images/ML_Site_Pictures/confusionmatrix1_2.png" width="1200" height="700" alt="">
    <br>
    <br>
    <br>
    <h2 style="text-align:center"> Model 2 Overview</h2>
    <br>
    <h3>Model 2 was set up in a nearly identical way to Model 1, with one major exception, the use of randomized data. In Model 1, the file structure containing the Train, Test, and Validation Groups was created by hand. In Model 2, we used the computer to create the file structure, randomzing the pictures that were put into each of the Train, Validate, and Test Groups. By using randomizer function, we are able to remove any potential creator error or bias in selecting the pictures for each group. The primary difference and outcome of Model 2 are highlighted below.</h3>
    <br>
    <br>
    <h3> Computer made file structure and randomized groupings.</h3>
            <br>
            <img src="Resources/Other_images/ML_Site_Pictures/model2random.png" width="1200" height="700" alt="">
            <br>
            <br>
            <br>
    <h3> Model running on the Train and Validate Groups.</h3>
            <br>
            <img src="Resources/Other_images/ML_Site_Pictures/model2running.png" width="1200" height="550" alt="">
            <br>
            <br>
            <br>
    <h3> Visualization of predictions using a Confusion Matrix.</h3>
            <br>
            <img src="Resources/Other_images/ML_Site_Pictures/model2matrix.png" width="1200" height="700" alt="">
    <%- include('../partials/footer') %>
    </div>
</body>
</html>